@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Lexend', sans-serif;
        @apply max-w-4xl mx-auto mt-24;
    }
    
    h1 {
        @apply text-6xl font-bold text-rose-500;
    }

    .btn {
        @apply rounded-xl hover:bg-rose-50 p-1 px-3 mb-1 transition-all;
    }
}